<!-- Class Timetable Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">Entrainements</h5>
      <h1 class="display-3 text-uppercase mb-0">Prepare ton programme</h1>
  </div>
  <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Lundi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Mardi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Mercredi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Jeudi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Vendredi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Samedi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Dimanche</a>
          </li>

      </ul>


  </div>



          <form class="col s6" [formGroup]="form"(ngSubmit)="create()">
            <td>
              <label for="">Zone</label>
              <select id = "listMuscle" (change)="onChange($event)">

                <option default  ></option>



                <option *ngFor="let item of muscles" value="{{item.id_muscle}}">{{item.muscle_nom}}</option>

              </select>
              <h3>{{listMuscle}}</h3>


            </td>
            <td>
              <label>Exercice</label>
              <select>

                <option *ngFor="let item of exercices" value="{{item.id_exercice}}">{{item.exercice_nom}}</option>

              </select>

            </td>
            <td>

              <div class="input-field">
                <label>Poids</label>
                <input id="programme_poids" type="text" formControlName="programme_poids" data-lenth ="5" value="Répétion" style="width: 150px;">

              </div>

            </td>
              <td>
                <div class="input-field">
                  <label>Serie</label>

                  <input id="programme_series" type="text" formControlName="programme_series" data-lenth ="5" value="Série" style="width: 150px;">

                </div>
              </td>
              <td>
                <div class="input-field">
                  <label>Répétitions</label>

                  <input id="programme_repetitions" type="text" formControlName="programme_repetitions" data-lenth ="5" value="Poids" style="width: 150px;">

                </div>

              </td>
              <td>
                <div class="input-field">
                  <label>Pause</label>

                  <input id="programme_pause" type="text" formControlName="programme_pause" data-lenth ="5" value="Pause" style="width: 150px;">

                </div>

              </td>
              <td>
                <div class="input-field">
                  <label>Temps</label>

                  <input id="programme_tempsSecondes" type="text" formControlName="programme_tempsSecondes" data-lenth ="5" value="Distance" style="width: 150px;">

                </div>

              </td>
              <td>
                <div class="input-field">
                  <label>Distance</label>

                  <input id="programme_distance" type="text" formControlName="programme_distance" data-lenth ="5" value="Distance" style="width: 150px;">

                </div>

              </td>
              <td>
                <label>Confirmer </label>
                <!-- <button type="submit"  >Valider</button> -->
                <button class="btn btn-primary" type="submit" >Valider</button>

              </td>

              <!-- <div class="table-responsive">
                <table class="table align-middle table-bordered align-middle" style="text-align: center;">

                    <thead>
                      <tr>
                      <th>ID PRODUIT</th>
                      <th style="width: 100px">IMAGE</th>
                      <th style="width: 10px">DESIGNATION</th>
                      <th style="width: 50px">DESCRIPTIF</th>
                      <th>PRIX UHT</th>
                      <th>REF INTERNE</th>
                      <th style="width: 5%">AJOUTER</th>
                      <th style="width: 5%">DELETE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="align-bottom">
                        <tr *ngFor="let p of programmes">

                            <td style="width : 10%">{{p.programme_poids}}</td>
                            <td style="width : 10%">{{p.programme_series}}</td>
                            <td style="width : 10%">{{p.programme_repetitions}} €</td>
                            <td style="width : 10%">{{p.programme_pause}}</td>
                            <td style="width : 10%">{{p.programme_tempsSecondes}}</td>
                            <td style="width : 10%">{{p.programme_distance}}</td>
                            <td><a class="waves-effect wave-light btn red " routerLink="/edit/{{ p.id_programme }}"  style=" color: blue;">[Edit]</a></td>

                            <td><a class="waves-effect wave-light btn red " routerLink="/produit/{{ p.id_programme }}" style="color: rgb(255, 0, 0);"> [Delete]</a></td>
 -->

                      <!-- </tr >

                    </tbody>

                </table>
                </div> -->
              <!-- <button class="btn btn-primary" type="submit" value="Ajoute un programme :)" > -->
              <!-- <button class="btn btn-primary" type="submit" >Ajoute un programme :) </button> -->




          </form>



