<!-- Class Timetable Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">Entrainements</h5>
      <h1 class="display-3 text-uppercase mb-0">Prepare ton programme</h1>
  </div>
  <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Lundi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Mardi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Mercredi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Jeudi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Vendredi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Samedi</a>
          </li>
          <li class="nav-item">
              <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Dimanche</a>
          </li>

      </ul>
      <input class="btn btn-primary" type="submit" value="Enregistre ton entrainement :)">

  </div>
  <div class="tab-content">
    <div id="tab-1" class="tab-pane fade show p-0 active">
      <div class="container">

        <table class="table table-dark" >
          <thead>
            <tr>
              <th>Zone</th>
              <th>Exercices</th>
              <th>Répétition</th>
              <th>Série</th>
              <th>Poids</th>
              <th>Pause</th>
              <th>Temps</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td >
                <select>
                  <option *ngFor="let item of muscles" value="{{item.id_muscle}}">{{item.muscle_nom}}</option>

              </select>
            </td>
            <td>
              <select>
                <option *ngFor="let item of exercices" value="{{item.id_exercice}}">{{item.exercice_nom}}</option>
            </select>
          </td>
              <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Muscle
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" >
                  <li *ngFor="let item of muscles"><a class="dropdown-item active">{{item.muscle_nom}}</a></li>

                </ul>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Exercices
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" >
                  <li *ngFor="let item of exercices"><a class="dropdown-item active">{{item.exercice_nom}}</a></li>

                </ul>
              </div> -->

            <td>
              Formulaire a faire
            </td>
            <td>
              Formulaire a faire
            </td>
            <td>
              Formulaire a faire
            </td>
            <td>
              Formulaire a faire
            </td>
            <td>
              Formulaire a faire
            </td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>
</div>
<!-- Class Timetable Start -->
