
  <!-- <form class="col s12" [formGroup]="form"(ngSubmit)="create()">


      <div class="input-field col s16">

        <input id="programme_poids" type="text" formControlName="programme_poids" data-lenth ="10" value="Répétion">

      </div>

      <div class="input-field col s16">

        <input id="programme_series" type="text" formControlName="programme_series" data-lenth ="10" value="Série">

      </div>

      <div class="input-field col s16">

        <input id="programme_repetitions" type="text" formControlName="programme_repetitions" data-lenth ="10" value="Poids">

      </div>
      <div class="input-field col s16">

        <input id="programme_pause" type="text" formControlName="programme_pause" data-lenth ="10" value="Pause">

      </div>

      <div class="input-field col s16">

        <input id="programme_tempsSecondes" type="text" formControlName="programme_tempsSecondes" data-lenth ="10" value="Distance">

      </div>
      <div class="input-field col s16">

        <input id="programme_distance" type="text" formControlName="programme_distance" data-lenth ="10" value="Distance">

      </div>


    <button type="submit"  accesskey="enter">Valider</button>

  </form>




  {{ form.value | json}} -->
